<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Add new object </title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/addobject}" method="post">
                <fieldset>
                    <h3>Add new object</h3>

                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="Object Name" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                    <input type="text" name="adress" id="adress" class="form-control input-lg"
                           placeholder="Object's address" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="longitude" id="longitude" class="form-control input-lg"
                               placeholder="Object's longitude" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="latitude" id="latitude" class="form-control input-lg"
                               placeholder="Object's latitude" required="true"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add object"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="footer :: footer"/>

</body>
</html>
