<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
        <link rel='stylesheet' type='text/css' th:href="@{/sdk/map.css}"/>
        <script th:src="@{/sdk/tomtom.min.js}"></script>

    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" th:href="@{/home}">Camera Servis Web</a>
            </li>
            <li class="nav-item active">
                <a  class="nav-link"th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/myobjects}">My Objects</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item float-right" sec:authorize="isAuthenticated()">
                <a class="pull-right info" th:href="@{/logout}" style="margin: 10px">Sign out</a>
            </li>
            <li class="nav-item float-right" sec:authorize="isAnonymous()">
                <a class="pull-right info" th:href="@{/login}" style="margin: 10px">Sign in</a>
            </li>
            <li class="nav-item float-right" sec:authorize="isAnonymous()">
                <a class="pull-right info" th:href="@{/register}" style="margin: 10px">   Register</a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>
