<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel='stylesheet' type='text/css' th:href="@{/sdk/map.css}"/>
        <script th:src="@{/sdk/tomtom.min.js}"></script>

    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Occupancy Stat</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/home}">Home</a></li>
                    <li class="active"><a th:href="@{/myobjects}">My Objects</a></li>
                </ul>

                <div  sec:authorize="isAuthenticated()">
                    <a class="pull-right info" th:href="@{/logout}" style="margin: 10px">Sign out</a>

                </div>

                <div  sec:authorize="isAnonymous()">
                    <a class="pull-right info" th:href="@{/login}" style="margin: 10px">Sign in</a>
                </div>
                <div  sec:authorize="isAnonymous()">
                    <a class="pull-right info" th:href="@{/register}" style="margin: 10px">   Register</a>
                </div>

            </div>
        </div>
    </nav>
</div>

</body>
</html>
