<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <div th:replace="header :: header-css"/>

</head>
<body>

<div th:replace="header :: header"/>


<div class="container">
    <div class="row">
        <div class="col">
            <div th:replace="map :: map" class="mx-auto" />
        </div>
        <div class="col">
            <table class="table-hover table-bordered mx-auto">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"> Object Name </th>
                    <th scope="col"> Address </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${objects.empty}">
                    <td colspan="2"> No Objects Available </td>
                </tr>
                <tr th:each="object : ${objects}">
                    <td  scope="row" class="col-md-2"><a th:href="@{/statistics(id=${object.id}, time='day')}"><span th:text="${object.name}"> </span></a></td>
                    <td  scope="row" class="col-md-3"><a th:href="@{/statistics(id=${object.id}, time='day')}"><span th:text="${object.adress}"> </span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>


</div>

</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>
</html>
