<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Registration </title>
    <div th:replace="header :: header-css"/>
</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/register}" method="post">
                <fieldset>
                    <h1>Please Register</h1>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Username" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" id="name" class="form-control input-lg"
                               placeholder="Your Name" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-lg"
                               placeholder="Your Last Name" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="adress" id="adress" class="form-control input-lg"
                               placeholder="Your Adress" required="true"/>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-lg"
                               placeholder="Your Email" required="true"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="footer :: footer"/>

</body>
</html>
