<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <div th:replace="header :: header-css"/>

</head>
<body>

<div th:replace="header :: header"/>

<div class="container">

    <h3> Statistics for <span th:text="${objectName}"> </span></h3>
    <h4> Number of tables occupied:  <span th:text="${numberOfOccupied}"> </span></h4>
    <h4> Number of tables total:  <span th:text="${#lists.size(tables)}"> </span></h4>
    <canvas id="myChart" width="300" height="300"></canvas>
    <a th:href="@{/statistics?id=1&time=day}"><button class="btn-info" >Graph for today</button></a>
    <a th:href="@{/statistics?id=1&time=week}"><button class="btn-info" >Graph for this week</button></a>
    <a th:href="@{/statistics?id=1&time=month}"><button class="btn-info" >Graph for this month</button></a>
    <a th:href="@{/statistics?id=1&time=all}"><button class="btn-info" >Graph for all time</button></a>
    <br/>
    <br/>
    <canvas id="tableCanvas" width="200" height="100"></canvas>

</div>
<!-- /.container -->

<div th:replace="footer :: footer"/>

</body>


<script>
    var canvas = document.getElementById("tableCanvas");
    var ctx = canvas.getContext("2d");
    ctx.fillStyle = "#2bff7b";
    ctx.fillRect(20, 20, 150, 75);
</script>

<script th:inline="javascript">



    /*<![CDATA[*/
    var timeFormat = 'MM/DD/YYYY HH:mm';

    var datatime = /*[[${datatime}]]*/ 'default';

    var datanew = Object.assign(datatime);

    console.log(datanew);

    for(var i = 0; i<datanew.length; i++){
        datanew[i].t = new Date(datanew[i].t);
    }

    console.log(datanew);
    console.log(JSON.stringify(datanew));

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                data: datanew,
                steppedLine: true,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                }
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'

                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    /*]]>*/
</script>
</html>
